*{
    text-decoration: none;
}
.Menu li{
    background-color: black;
    width: 150px;
} .Menu a {
    color: white;
    text-decoration: none;
}


.aligned_form {
    display: block;
    width: 200px;
} .aligned_form div{
    margin-bottom: 20px;
} .aligned_form label {
    margin: 10px 0px;
    line-height: 32px;
} .aligned_form .LabelRadio {
    display: block;
}
.aligned_form input, .aligned_form button{
    width: 240px;
}

.tables th {
    padding: 5%;
    width: +25px;
    text-align: center;
}


.border{
    border: black solide 1px;
    padding: 5px;
}