@import url("./../CSS/Reinitialisation.css");
@media screen and (width >= 925px) {
    /** BALISES COMMUNES */
    html, body{
        margin: 0%;
        height: 100%;
    }
    
    html, body, header, main, footer{
        margin: 0% 0%;
        width: 100%;
    }
    
    /** BALISES PRINCIPALES */
    body{
        z-index: 0;
        margin: 0%;
        /* padding: 0%; */
        background-image: url('./../../media/images/BackgroundMeteos.jpg');
        background-color: none;
        background-size: cover;
        /* background-position: -162% 0%; */
    }
    
    header{
        position: fixed; top: 0%;
        background-color: black; color: white;
        text-align: center;
    }
    
    main{
        padding-top: 75px;
    }
    
    footer{
        position: fixed; bottom: 0%;
        background-color: black; color: white;
        text-align: center;
    }
    
    
    /** GÉNÉRAL */
    section {
        margin: 1% auto;
        padding: 1% auto;
        text-align: center;
    } div{

    } h1{

    } h2{

    } h3{
        background-color: black; color: white;
    } h4{
        background-color: white; color: black;
    }

    /** HEADER */
    header div{
        /* margin-left: 5%; */
    } header li a{
        color: white;
    }

    /** MAIN */
    output {
        margin: 3% auto;
        padding: 1% auto;
        display: inline-block;
        /* text-align: center; */
    }
    /* output *{
        display: block;
    } */

    /** FOOTER */
}

