:root{ /* https://fr.quora.com/Sil-existe-les-mots-primaire-pour-le-premier-degr%C3%A9-secondaire-pour-le-deuxi%C3%A8me-tertiaire-pour-pour-le-troisi%C3%A8me-et-quaternaire-pour-le-quatri%C3%A8me-pourquoi-nexisterait-il-pas-de-mots-comme-ceux-ci */
    /** Basic Colors */
    --color-primaire: white;
    --color-secondaire: black;
    --color-tertiaire: blue;

    /** Additional Colors */
    --color-quaternaire: gray;
    --color-quinquénaire: lightblue;
    --color-hexanaire: yellow;

    /** Basic Colors */
    --color-septénaire: red;
    --color-octonaire: orange;
    --color-nonénaine: green;
}