@media screen and (width <= 600px) {
    /** BALISES COMMUNES */

    html, body{
        margin: 0px 0px;
        height: 100%;
    }
    
    html, body, header, main, footer{
        margin: 0% 0%;
        width: 100%;
    }
    
    /** BALISES PINICALES */
    body{
        margin: 0%;
        /* paddin: 0%; */
        background-color: lightgray;
    }
    
    header{
        position: fixed; top: 0%;
        background-color: black; color: white;
        height: 12%;
        text-align: center;
    }
    
    main{
        padding-top: 112px;
        padding-bottom: 110px;
        background-color: lightgray;
    }
    
    footer{
        position: fixed; bottom: 0%;
        background-color: black; color: white;
        text-align: center;
    }

    /** GÉNÉRAL */
    section {
        margin: 1% auto;
        padding: 1% auto;
        text-align: center;
    } div{

    } h1{

    } h2{
        
    } h3{
        background-color: black; color: white;
        font-size: 23px;
        
    } h4{
        background-color: white; color: black;
    }

    /** HEADER */
    header div {
        /* display: inline; */
    } header li a{
        color: white;
    }

    /** MAIN */
    output {
        margin: 3% auto;
        padding: 1% auto;
        display: block;
        /* text-align: center; */
    }

    /** FOOTER */
}

