@media (min-width: 600px) and (max-width: 9250px) {
    /** BALISES COMMUNES */
    html, body{
        height: 100vh;
    }
    
    html, body, header, main, footer{
        margin: 0% 0%;
        width: 100vw;
    }
    
    /** BALISES PINICALES */
    body{
        /* paddin: 0%; */
        background-color: gray;
    }
    
    header{
        position: fixed; top: 0%;
        background-color: black; color: white;
        text-align: center;
    }
    
    main{
        padding-top: 75px;
        margin-left: 0px; margin-right: 0px;
        padding-bottom: 110px;
        background-color: gray;
    }
    
    footer{
        position: fixed; bottom: 0%;
        background-color: black; color: white;
        text-align: center;
    }
    

    /** GÉNÉRAL */
    section {
        margin: 1% auto;
        padding: 1% auto;
        text-align: center;
    } div{

    } h1{

    } h2{

    } h3{
        background-color: black; color: white;  
    } h4{
        background-color: white; color: black;
    }

    /** HEADER */
    header div {
        display: inline-block;
    }

    header li a{
        color: white;
    }

    /** MAIN */
    output {
        margin: 3% auto;
        padding: 1% auto;
        display: inline-block;
        /* text-align: center; */
    }
    /* output *{
        display: block;
    } */

    /** FOOTER */
}

